body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.875rem; /* For Bootstrap Dashboard theme */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* For Bootstrap Dashboard theme */
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/* Removes the extra 300px bottom padding that Editor.js insters */
/* #note-editor > div > div.codex-editor__redactor {
  padding-bottom: 0px !important;
} */
